@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/*----Body reset----*/
body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    color: rgb(4 4 4);
    background-color:#e7ea0b7a;
    background-image: url("https://oluwafemiawosanya.github.io/MS2-News-Quiz/assets/img/globe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position-y: top;
}

/*----quiz-app ----*/
.quiz-app{
    margin: 0;
    padding: 0rem;
    border: 0rem;
}
/*----Heading ----*/
h1{
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.1;
    background-color: rgb(116 189 6 / 54%);
    border-radius: 0.5rem;
}
/*----Intro----*/
h2{
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.1;
}
img{
    width: 60%;
    height: 60%;
    opacity: .7;
}
/*----quiz-container ----*/
.quiz-container{
    position: relative;
    height: 25rem;
    margin-top: 4rem;
    width: 100%;
}   
/*----progress-bar----*/
#progressText{
    font-size: 1rem;
    margin-top: 0;
}

#progressBar{
    width: 95%;
    height: 0.5rem;
    border:0.5rem solid rgb(6, 101, 189);
    border-radius: 1rem;
}
#progressBarFull{
    height: 100%;
    background: rgb(116, 189, 6) ;
    width: 0%;
    font-size: 0.5rem;
}

/*----quiz ----*/
#quiz{
position: relative;
margin-top: 1rem;
height: 20rem;
background: #ffffff8f;
}
.question{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.answers{
    
    text-align: left;
    display: inline-block;
    font-size: 1.5rem;
}
.answers label{
    display: block;
    margin-bottom: 1rem;
}
/*----buttons ----*/
button{
    font-family: 'Rubik', sans-serif;
    padding: 1.2rem;
    border-radius: 2rem;
    background-color: rgb(116, 189, 6);
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 0.2rem;
    cursor: pointer;
}
button:hover{
    background-color: darkgreen;
}

/*----Pagination ----*/
.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 5;
}

/*----Results----*/
#results{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

@media only screen and (min-width: 60.000rem){
    body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    color: rgb(4 4 4);
    background-color:#e7ea0b7a;
    background-image: url("https://oluwafemiawosanya.github.io/MS2-News-Quiz/assets/img/globe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position-y: top;
}

}