@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/*----Body reset----*/
body{
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    color: rgb(12 51 18);
}

/*----quiz-app ----*/
.quiz-app{
    margin: 0;
    padding: .5rem;
    border: 0.5rem;
}
/*----Heading ----*/
h1{
    font-weight: 500;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0.1;
}
/*----Intro----*/
h2{
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.1;
}
img{
    width: 60%;
    height: 60%;
    opacity: .7;
}
/*----quiz-container ----*/
.quiz-container{
    position: relative;
    height: 20rem;
    margin-top: 4rem;
}


/*----quiz ----*/
.question{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.answers{
    margin-bottom: 2rem;
    text-align: left;
    display: inline-block;
}
.answers label{
    display: block;
    margin-bottom: 1rem;
}
/*----buttons ----*/
button{
    padding: 2rem 4rem;
    border-radius: 3rem;
    background-color: rgb(19, 179, 53);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
button:hover{
    background-color: darkgreen;
}

/*----Pagination ----*/
.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
.active-slide{
    opacity: 1;
    z-index: 2;
}